body {
  font: 20px 'Roboto Condensed';
}

#contactinfo {
  width: 100%;
  margin: 0 auto;
  padding: 2%;
}

img {
  display: inline-block;
  float: left;
  margin-right: 2%
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1em;
  margin-bottom: 0;
}

p, span, li {
  margin: 5px 0;
  font-weight: 300;
}

.newpt {
  margin: 15px 0;
  color: #00C342;
}

.nopatient {
  color: red;
}

.first_name, .last_name, #degree {
  display: inline;
}

#summary {
  display: block;
  float: left;
}

#addrblock {
  display: inline-block;
  float: left;
}

#contactbutton, #updatebutton {
  display: inline-block;
  float: left;
  margin: 20px 35px;
}

#contact, #update {
  border-radius: 8px;
  border: transparent;
  padding: 15px;
  background: #81C5F9;
  font: 18px 'Roboto Condensed';
}

#contact {
  background: #FFD966;
}

.clearfix {
  clear: both;
}

.heading {
  background-color: #FF943A;
  color: white;
  font-weight: 400;
  padding: 1% 2%;
}

#qualtxt {
  width: 100%;
  padding: 1% 2%;
  margin-bottom: 25px;
}

#financetxt {
  padding: 1% 2%;
}

a {
  color: black;
  text-decoration: none;
}

#logout {
  float: right;
  padding: 1%;
}

#logout > button {
  border-radius: 5px;
  background-color: #C3907D;
  border: transparent;
  padding: 8px;
  font-size: 18px;
}

#schedule {
  width: 100%;
  text-align: center;
}

#schednow {
  background: #00DC4F;
  font-size: 24px;
  font-weight: 400;
  padding: 5px;
  border-radius: 8px;
  width: 70%;
}

@media screen and (min-width: 800px) {
  #contactbutton, #addrblock {
    display: inline-block;
    width: 20%;
    padding: 20px;
  }

  #summary {
    display: inline-block;
  }
}